%ul.breadcrumb
  %li
    = link_to "Scripts" ,scripts_path
    %span.divider >
  %li
    = link_to @script.name, script_path(@script.id)
    %span.divider >
  %li
    Line

= form_for @line, :class => "well form-horizontal" do |f|
  %fieldset
    %legend Edit line
    = f.hidden_field :id, :value => @line.objectId
    = f.hidden_field :scriptId
    .control-group
      = f.label :character, "Character", :class => "control-label"
      .controls
        = f.text_field :character, :class => "input-xlarge typeahead", "data-provide" => "typeahead"
    .control-group
      = f.label :line, "Line", :class => "control-label"
      .controls
        = f.text_area :line, :class => "input-xlarge"
    .control-group
      = f.label :gender, "Gender", :class => "control-label"
      .controls
        = f.hidden_field :gender, :id => "genderField"
        .btn-group{"data-toggle" => "buttons-radio"}
          - if @line.gender == "male"
            = link_to "Female", "#", :remote => true, :class => "btn gender", :id => "female"
            = link_to "Male", "#", :remote => true, :class => "btn active gender", :id => "male"
          - else
            = link_to "Female", "#", :remote => true, :class => "btn active gender", :id => "female"
            = link_to "Male", "#", :remote => true, :class => "btn gender", :id => "male"
    - if @line.recorded == "yes"
      .control-group
        = f.label :recording, "Delete Recording", :class => "control-label"
        .controls
          Coming Soon
    .form-actions
      = f.submit "Edit Line", :class => "btn btn-primary"
      = link_to "Back to Script", script_path(@line.scriptId), :class => "btn btn-inverse"

:javascript
  $(document).ready(function() {
    var characters = #{array_or_string_for_javascript(@characters)};
    $('.typeahead').typeahead({source: characters, items:5});
  });