= form_tag conversions_path, :class => "form-horizontal", :multipart => true do
  %fieldset
    %legend Convert a Script
    %p
      Note: Conversions can take a long time (Upwards of 30+minutes).
      %br/
      During Beta, File imports will be limited to 5 pages.
      %br/
      %strong Please note - Spaces are not supported in filenames at this time
    %p
      %strong For best importing performance
      Please ensure your characters names begin with capital letters. e.g. MATT

    %p
      Please remember! We're working hard on improving this feature of line please, but it's hard to recognize every single style of script ever written. If you're having an issue with a particular script, e-mail matt@lineplea.se with your script and he'll take a look into how to improve the script recognizer to recognize that script!
    .control-group
      = label_tag :script, "Script Name", :class => "control-label"
      .controls
        = text_field_tag :script
    .control-group
      = label_tag :file, "Script PDF or DOC", :class => "control-label"
      .controls
        = file_field_tag :file, :class => "input-file"
    .form-actions
      = submit_tag "Convert Script", :class => "btn btn-primary"
      = link_to "Back", scripts_path, :class => "btn btn-inverse"