<p>
<h2>Scripts</h2>
<p>Manage all your Line Please scripts here! Add scripts and type in lines using your computer to practice on your smart phone!<br/>
<strong>Coming Soon!</strong> Importing of scripts via PDF/Word document</p>
<br/>
<% @scripts.each do |script| %>
    <%= link_to script["name"], script_path(script["objectId"]) + "?name=#{script["name"]}" %> | <%= link_to "destroy", script_path(script["objectId"]), :method => :delete %><br/>
    <br/>
<% end %>

<h2>Add Script</h2><br/>

<%= form_tag scripts_path do %>
    <div class="field">
      <%= text_field_tag :name, nil, :class => "defaultText", :title => "Script Name" %>
    </div>
    <div class="actions"><%= submit_tag "Add Script" %></div>
<% end %>
</p>
