<p class="center">
<h2 class="center">Scripts</h2>
<p>Manage all your Line Please scripts here! Add scripts and type in lines using your computer to practice on your smart phone!<br/>
<strong>Coming Soon!</strong> Importing of scripts via PDF/Word document</p>
<br/>
<p class="line">
<% @scripts.each do |script| %>
    <%= link_to script["name"], script_path(script["objectId"]) + "?name=#{script["name"]}" %><br/>
    <%= link_to "[X]", script_path(script["objectId"]), :method => :delete, :class => "lineDelete" %><br/>
    <br/>
<% end %>
</p>

<h2 class="center">Add Script</h2><br/>

<%= form_tag scripts_path, :class => "center" do %>
    <div class="field">
      <%= text_field_tag :name, nil, :class => "defaultText", :title => "Script Name" %>
    </div>
    <div class="actions"><%= submit_tag "Add Script" %></div>
<% end %>
</p>
