%ul.breadcrumb
  %li
    = link_to "Scripts" ,scripts_path

%legend.center Scripts
%p
  Manage all your Line Please scripts here! Add scripts and type in lines using your computer to practice on your smart phone!
  %br/

%br/
- @scripts.each do |script|
  %p
    .dropdown.line.center
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href=>"#" }
        = script.name

      %ul.center.dropdown-menu.center-menu{ :id => "#{script.id}"}
        %li
          %a{:href=>"#"}
            = link_to script_path(script.id) do
              %i.icon-film
              View
        %li.divider
        %li
          = link_to script_path(script.id), :method => :delete, :confirm => "Are you sure you want to delete this script?" do
            %i.icon-trash
            Delete
%br/
= form_tag scripts_path, :class => "well form-horizontal" do
  %fieldset
    %legend Add a Script
    .control-group
      = label_tag :name, "Script Name", :class => "control-label"
      .controls
        = text_field_tag :name
    .form-actions
      = submit_tag "Add Script", :class => "btn btn-primary"
      = link_to "Import Script", new_conversion_path, :class => "btn btn-inverse", :id => "import-script"

:javascript
  $(document).ready(function() {
    $('#import-script').popover({title: "Open Beta", content: "Import scripts is currently in Open Beta - Please provide feedback to <a href=\"mailto:feedback@lineplea.se\">feedback@lineplea.se</a>"});
  });