<p>
<p><< <%= link_to "back to scripts" ,scripts_path %></p>
To play back your scripts, simply log in to Line Please on your smart phone, choose the script and hit play<br/><br/>
<h2><%= @name %></h2>
<br/>
<% @lines.each do |line| %>
    Character: <%= line["character"] %><br/>
    Line:<%= line["line"] %> <%= %>
    <%= link_to "destroy", script_path(line["scriptId"]) + "?line_id=#{line["objectId"]}", :method => :delete %><br/>
    <br/>
<% end %>

<h2>Add Line</h2>

<%= form_tag scripts_path do %>
    <%= hidden_field_tag :id, @script %>
    <div class="field">
      <%= text_field_tag :character, nil, :class => "defaultText", :title => "Character" %>
    </div>
    <div class="field">
      <%= text_area_tag :line, nil, :class => "defaultText", :title => "Line" %>
    </div>
    <div class="actions"><%= submit_tag "Add Line" %></div>
<% end %>
</p>