%ul.breadcrumb
  %li
    = link_to "Scripts" ,scripts_path
    %span.divider >
  %li= @script.name

%p To play back your scripts, simply log in to Line Please on your smart phone, choose the script and hit play

%legend.center= @script.name

%ul#sortable
  - @lines.each do |line|
    %li.center{:id => "#{line.objectId}"}
      .dropdown.line.center
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href=>"#" }
          = line.character.upcase
          %br/
          = simple_format line.line
        %ul.center.dropdown-menu.center-menu{ :id => "#{line.objectId}"}
          %li
            %a{:href=>"#{line_path(line.objectId)}"}
              %i.icon-pencil
              Edit
          %li.divider
          %li
            = link_to line_path(line.objectId), :method => :delete, :class => "lineDelete", :confirm => "Are you sure you want to delete this line?" do
              %i.icon-trash
              Delete
      %br/

= form_for @line, :class => "well form-horizontal" do |f|
  %fieldset
    %legend Add line
    = hidden_field_tag :script_id, @script.id
    .control-group
      = f.label :character, "Character", :class => "control-label"
      .controls
        = f.text_field :character, "data-provide" => "typeahead", :class => "typeahead"
    .control-group
      = f.label :line, "Line", :class => "control-label"
      .controls
        = f.text_area :line
    .control-group
      = f.label :gender, "Gender", :class => "control-label"
      .controls
        = f.hidden_field :gender, :value => "female", :id => "genderField"
        .btn-group{"data-toggle" => "buttons-radio"}
          = link_to "Female", "#", :remote => true, :class => "btn active gender", :id => "female"
          = link_to "Male", "#", :remote => true, :class => "btn gender", :id => "male"
    .form-actions
      = f.submit "Add Line", :class => "btn btn-primary"
      = button_tag "Back to Scripts", :class => "btn btn-inverse", :id => "back-to-scripts"
:javascript
  $(document).ready(function() {
    var characters = #{array_or_string_for_javascript(@characters)};
    $('.typeahead').typeahead({source: characters, items:5});
  });
