%ul.breadcrumb
  %li
    = link_to "Scripts" ,scripts_path
    %span.divider >
  %li= @script.name

%p
  To play back your scripts, simply log in to Line Please on your smart phone, choose the script and hit play
  %br/
  %strong Please note - Line ordering only works on apps with a version > 1.1.3

%legend.center= @script.name

%ul#lines
  = render 'lines'

= form_for @line, :remote => true, :class => "well form form-horizontal" do |f|
  %fieldset
    %legend Add line
    = hidden_field_tag :script_id, @script.id
    .control-group
      = f.label :character, "Character", :class => "control-label"
      .controls
        = f.text_field :character, "data-provide" => "typeahead", "data-items" => "5", :class => "typeahead"
    .control-group
      = f.label :line, "Line", :class => "control-label"
      .controls
        = f.text_area :line, :rows => 4
    .control-group
      = f.label :gender, "Gender", :class => "control-label"
      .controls
        = f.hidden_field :gender, :value => "female", :id => "genderField"
        .btn-group{"data-toggle" => "buttons-radio"}
          = link_to "Female", "#", :remote => true, :class => "btn active gender", :id => "female"
          = link_to "Male", "#", :remote => true, :class => "btn gender", :id => "male"
    .form-actions
      = f.submit "Add Line", :class => "btn btn-primary"
      = button_tag "Back to Scripts", :class => "btn btn-inverse", :id => "back-to-scripts"

:javascript
    var characters = #{array_or_string_for_javascript(@characters)};
    $('.typeahead').typeahead();
