.span8
  = form_for @user, :class => "form-horizontal" do |f|
    %fieldset
      %legend Signup through Line Please
      .control-group
        = f.label :username, "Username", :class => "control-label"
        .controls
          .input-prepend
            %span.add-on
              %i.icon-user
            = f.text_field :username, :class => "span2", :id => "inputIcon"
            %p.help-block Tip: Username is case sensitive
      .control-group
        = f.label :password, "Password", :class => "control-label"
        .controls
          .input-prepend
            %span.add-on
              %i.icon-lock
            = f.password_field :password, :class => "span2", :id => "inputIcon"
      .control-group
        =f.label :email, "Email", :class => "control-label"
        .controls
          .input-prepend
            %span.add-on
              %i.icon-envelope
            = f.text_field :email, :class => "span2", :id => "inputIcon"
      .form-actions
        = f.submit "Sign up", :class => "btn btn-primary"
.span8
  %legend Signup through Social
  %p Login or signup through facebook.
  %input.btn.btn-primary{:onclick => "javascript:facebookLogin()", :type => "button", :value => "Facebook Signup"}