!!!
%html
  %head
    %title Line Please - It helps you learn your lines
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          =link_to "Line Please", root_path, :class => "brand"
          .nav-collapse
            %ul.nav
              %li= link_to "Faq", faq_path
              %li= link_to "Issues", "https://github.com/mattvv/lineplease/issues"
              - if @current_user
                %li= link_to "Scripts", scripts_path
                %li= link_to "Logout", logout_path, :class => "logout"
              - else
                %li= link_to "Login", new_session_path
                %li= link_to "Sign up", new_user_path
    .container
      .alert.alert-info.ios-alert
        Hey! You're on an iOS device - download our
        %a{:href => "http://itunes.com/apps/opticpower/lineplease"}iOS Application
        for the best possible experience
        %a.close{"data-dismiss" => "alert", :href => "#"} x

      .alert.alert-info.android-alert
        Hey! You're on an Android device - download our
        %a{:href => "https://market.android.com/details?id=com.mattvv.lineplease"}Android Application
        for the best possible experience
        %a.close{"data-dismiss" => "alert", :href => "#"} x

      - flash.each do |key, value|
        %div{:class =>"alert alert-#{key}"}
          = value
          %a.close{"data-dismiss" => "alert", :href => "#"} x
      .row
        - unless @nosidebar
          .span9= yield
          .span3#news
            %legend
              Android 1.1 Out
              %small Matt
            %p Android Users get a major update today bringing many of the new iPhone features to android. Among them are edit line support, record and play line support and Facebook Login. There is also reset password support now as well. Enjoy
            %legend
              iOS 1.1.1 Update
              %small Matt
            %p A quick update is in the app store approval process which fixes a major issue where longer lines would crash the app. It's highly recommend you upgrade your app when this comes out if you are effected by this issue. We also added some nice tweaks to make adding and saving lines a little easier as well as adding a 'Play all' Button if you want to listen to all your lines.
            %legend
              Website Overhaul
              %small Matt
            %p The Line Please website has been totally revamped with a new style paving way for new features. You can now edit lines via the Line Please website, as well with your facebook account.
            %p
              We're also starting trials on our newest feature to import scripts. This is currently in a very limited alpha stage. Please contact us at
              %a{:href => "mailto:alpha@lineplea.se"}alpha@lineplea.se
              if you are interested in testing out script imports from .pdf and .doc
            %legend
              Issues Section Live
              %small Matt
            %p Now launched is the issues section. This is the quickest way to see the progress of new features or bugfixes in Line Please. If you find any problems with line please either web app or android, please submit an issue using the issues link.
        - else
          =yield
      #fb-root
      %footer.footer
        %p.pull-right
          %a{:href => "#"}Back to Top
        %p
          Designed and built with love by
          %a{:href => "http://twitter.com/linepleaseapp"} Line Please
          %br/
          Please send us
          %a{:href => "mailto:feedback@lineplea.se"}Feedback!
          %br/
          Follow to us on
          %a{:href => "http://twitter.com/linepleaseapp"} Twitter
          or
          %a{:href => "http://facebook.com/linepleaseapp"} Facebook
