<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
 xml:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>Line Please - Learn your Lines on iPhone or Android</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 7]>
  <div style=' clear: both; text-align:center;  padding:0 0 0 0px; position: relative;'>
      <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img
              src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
              height="42" width="820" alt="You are using an outdated browser. For a  faster, safer browsing experience, upgrade for free today. /></a>
		</div>
  <![endif]-->

  <script language="text/javascript">
      if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
          location.replace("http://itunes.apple.com/us/app/line-please/id471665690?ls=1&mt=8");
      }
      if (navigator.userAgent.toLowerCase().indexOf("android") > -1) {
          location.replace("market://details?id=com.mattvv.lineplease");
      }
  </script>
</head>
<body id="page1">
<header>
  <div class="bg2">
    <%= render "layouts/header" %>
      </div>
</header>

<section id="content">
  <div class="container_12">
    <%= flash[:message] %>
        <%= yield %>
      </div>
</section>

<%= render "layouts/footer" %>
</body>
</html>